@font-face {
    font-family: hot-sweat;
    src: url(../fonts/Hotsweat-X5qj.ttf);
}

body{
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color:rgb(216, 228, 253);
    margin: 0px auto;

}
#main-header{
    font-weight: 900;
    border: 4px solid black;
    border-radius: 30px;
    margin: 15px auto;
    width: 650px;
    padding: 5px 10px;
  }
  .sub-headers{
    border: 4px solid black;
    border-radius: 30px;
    padding: 5px 10px;
    width: 650px;
    margin: 15px auto;
}
.info-text{
    font-size: 16px;
    width: 650px;
    margin: 25px auto;
    text-indent: 22px;
}

.image-container {
    position: center;
    width:800px;
    margin: auto auto 20px;
    border: 3px solid black;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay-text1 {
    position: absolute;
    top: 3%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: black; 
    padding: 10px 20px; 
    font-size: 28px; 
    text-align: center;
    text-shadow: 0px 0px 10px;
    font-family: hot-sweat;
  }
  
  .overlay-text2 {
    position: absolute;
    top: 7%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: black; 
    padding: 10px 20px; 
    font-size: 28px; 
    text-align: center;
    text-shadow: 0px 0px 10px;
    font-family: hot-sweat;
  }
  .topnav {
    margin-top: 20px;
    background-color: transparent;
    overflow: hidden;
    display: inline-flex;
    justify-content: space-around;
  }
  
  .topnav a {
    float: center;
    color: #131212;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #131212;
    color: rgb(211, 208, 208);
    border-radius: 25px;
  }

  .container-text {
    margin: 30px auto;
    border: 1px solid black;
    width: 750px;
    box-shadow: 0px 0px 20px



  }